section.catalog
  .h3.heading.heading--primary.wrapper Каталог продукции

  .catalog__cards
    .card.wrapper
      .card__img
        picture
          source(
            media="(min-width: 64em)",
            srcset="../img/raster/chicken-small-desktop@1x.png 1x, ../img/raster/chicken-small-desktop@2x.png 2x"
          )
          source(
            media="(min-width: 48em)",
            srcset="../img/raster/chicken-small-tablet@1x.png 1x, ../img/raster/chicken-small-tablet@2x.png 2x"
          )
          img(
          srcset="../img/raster/chicken-small-mobile@2x.jpg",
          src="../img/raster/chicken-small-mobile@1x.jpg",
          alt="Упаковка 'Cat Energy'")
      .card__description
        a.card__title(href="#") Cat energy pro 500
        ul.card__table
          li.card__property
            span Объём
            span 500 г
          li.card__property
            span Вкус
            span Курица
          li.card__property
            span Цена
            span 700 Р.
      a.card__btn.card__btn--green(href="#") Заказать
    
    .card.wrapper
      .card__img
        picture
          source(
            media="(min-width: 64em)",
            srcset="../img/raster/chicken-big-desktop@1x.png 1x, ../img/raster/chicken-big-desktop@2x.png 2x"
          )
          source(
            media="(min-width: 48em)",
            srcset="../img/raster/chicken-big-tablet@1x.png 1x, ../img/raster/chicken-big-tablet@2x.png 2x"
          )
          img(
          srcset="../img/raster/chicken-big-mobile@2x.jpg",
          src="../img/raster/chicken-big-mobile@1x.jpg",
          alt="Упаковка 'Cat Energy'")
      .card__description
        a.card__title(href="#") Cat energy pro 1000
        ul.card__table
          li.card__property
            span Объём
            span 1000 г
          li.card__property
            span Вкус
            span Курица
          li.card__property
            span Цена
            span 1000 Р.
      a.card__btn.card__btn--green(href="#") Заказать

    .card.wrapper
      .card__img
        picture
          source(
            media="(min-width: 64em)",
            srcset="../img/raster/fish-small-desktop@1x.png 1x, ../img/raster/fish-small-desktop@2x.png 2x"
          )
          source(
            media="(min-width: 48em)",
            srcset="../img/raster/fish-small-tablet@1x.png 1x, ../img/raster/fish-small-tablet@2x.png 2x"
          )
          img(
          srcset="../img/raster/fish-small-mobile@2x.jpg",
          src="../img/raster/fish-small-mobile@1x.jpg",
          alt="Упаковка 'Cat Energy'")
      .card__description
        a.card__title(href="#") Cat energy pro 500
        ul.card__table
          li.card__property
            span Объём
            span 500 г
          li.card__property
            span Вкус
            span Рыба
          li.card__property
            span Цена
            span 700 Р.
      a.card__btn.card__btn--green(href="#") Заказать

    .card.wrapper
      .card__img
        picture
          source(
            media="(min-width: 64em)",
            srcset="../img/raster/fish-big-desktop@1x.png 1x, ../img/raster/fish-big-desktop@2x.png 2x"
          )
          source(
            media="(min-width: 48em)",
            srcset="../img/raster/fish-big-tablet@1x.png 1x, ../img/raster/fish-big-tablet@2x.png 2x"
          )
          img(
          srcset="../img/raster/fish-big-mobile@2x.jpg",
          src="../img/raster/fish-big-mobile@1x.jpg",
          alt="Упаковка 'Cat Energy'")
      .card__description
        a.card__title(href="#") Cat energy pro 1000
        ul.card__table
          li.card__property
            span Объём
            span 1000 г
          li.card__property
            span Вкус
            span Рыба
          li.card__property
            span Цена
            span 1000 Р.
      a.card__btn.card__btn--green(href="#") Заказать

    .card.wrapper
      .card__img
        picture
          source(
            media="(min-width: 64em)",
            srcset="../img/raster/buckwheat-small-desktop@1x.png 1x, ../img/raster/buckwheat-small-desktop@2x.png 2x"
          )
          source(
            media="(min-width: 48em)",
            srcset="../img/raster/buckwheat-small-tablet@1x.png 1x, ../img/raster/buckwheat-small-tablet@2x.png 2x"
          )
          img(
          srcset="../img/raster/buckwheat-small-mobile@2x.jpg",
          src="../img/raster/buckwheat-small-mobile@1x.jpg",
          alt="Упаковка 'Cat Energy'")
      .card__description
        a.card__title(href="#") Cat energy pro 500
        ul.card__table
          li.card__property
            span Объём
            span 500 г
          li.card__property
            span Вкус
            span Гречка
          li.card__property
            span Цена
            span 700 Р.
      a.card__btn.card__btn--green(href="#") Заказать

    .card.wrapper
      .card__img
        picture
          source(
            media="(min-width: 64em)",
            srcset="../img/raster/buckwheat-big-desktop@1x.png 1x, ../img/raster/buckwheat-big-desktop@2x.png 2x"
          )
          source(
            media="(min-width: 48em)",
            srcset="../img/raster/buckwheat-big-tablet@1x.png 1x, ../img/raster/buckwheat-big-tablet@2x.png 2x"
          )
          img(
          srcset="../img/raster/buckwheat-big-mobile@2x.jpg",
          src="../img/raster/buckwheat-big-mobile@1x.jpg",
          alt="Упаковка 'Cat Energy'")
      .card__description
        a.card__title(href="#") Cat energy pro 1000
        ul.card__table
          li.card__property
            span Объём
            span 1000 г
          li.card__property
            span Вкус
            span Гречка
          li.card__property
            span Цена
            span 1000 Р.
      a.card__btn.card__btn--green(href="#") Заказать

    .card.wrapper
      .card__img
        picture
          source(
            media="(min-width: 64em)",
            srcset="../img/raster/rice-small-desktop@1x.png 1x, ../img/raster/rice-small-desktop@2x.png 2x"
          )
          source(
            media="(min-width: 48em)",
            srcset="../img/raster/rice-small-tablet@1x.png 1x, ../img/raster/rice-small-tablet@2x.png 2x"
          )
          img(
          srcset="../img/raster/rice-small-mobile@2x.jpg",
          src="../img/raster/rice-small-mobile@1x.jpg",
          alt="Упаковка 'Cat Energy'")
      .card__description
        a.card__title(href="#") Cat energy pro 500
        ul.card__table
          li.card__property
            span Объём
            span 500 г
          li.card__property
            span Вкус
            span Рис
          li.card__property
            span Цена
            span 700 Р.
      a.card__btn.card__btn--green(href="#") Заказать

    .card.card--more.wrapper
      .card__plus

      a.card__title(href="#") Показать еще 100500 товаров
      .card__subtitle На самом деле вкусов гораздо больше!

      a.card__btn.card__btn--grey(href="#") Показать все